@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container--gifs{
  min-height: 100vh;
}
.gifs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif {
  padding: 0 2px;
}

.loader {
  color: blue;
}
.dark {
  background-color:#263238;
  color: #fff;
}
.light {
  background-color: #ecffe1;
  color: #263238;
}